@import '../../Styles/StyleGuide.scss';


.charts-parent-wrapper{
    height: 30rem;
    width: 30rem;
    background-color: teal;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}