//background Images
$webViewLightThemeHeaderBackkground : url("../assets/images/bg-desktop-light.jpg");

//responsive widths for Media Queriesa
$phones : 576px;
$tablets : 768px;
$small-desktops : 992px;
$large-desktops : 1200px;
$extra-large-desktops : 1400px;
