@import '../Styles/StyleGuide.scss';

.app-landing-page{
    height : 100%;
    width : 100%;
    position: relative;
    .header-background-wrapper{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url($landing-background);
    }
}