@import '../Styles/StyleGuide.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.todo-card-wrapper{
    position: absolute;
    left: 50%;
    top : 18rem;
    transform: translate(-50%,-50%);
    height : 30rem;
    width : 30rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;

    @media (max-width: $phones) { 
       .todo-card-wrapper{
            width : 20rem;
       }
     }

    .todo-add-new-item{
        height: 3rem;
        background-color: teal;
        width: 100%;
    }
    .todo-added-list-items{
        margin-top: 3rem;
        width: 100%;
        flex: 1;
        background-color: rgb(41, 12, 53);
    }
    .todo-tabs{
        width: 100%;
        height: 3rem;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        background-color: teal;
        font-family: 'Work Sans', sans-serif;
        font-weight: bolder;
        color: white;
        font-size: 12px;
        .todo-left-button-wrapper{
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            span{
                height: auto;
                display: inline-block;
                text-align: center;
                cursor: pointer;
            }
        }
        .todo-tabs-buttons-wrapper{
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            span{
                height: auto;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                width: auto;
            }
        }
        .todo-clear-button{
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            span{
                height: auto;
                display: inline-block;
                text-align: center;
                cursor: pointer;
            }
        }
    }

}